/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';

/* 3rd-party */

/* components */
@import './components/button.css';

/* CUSTOM STYLE FOR HOME PAGE */

    /* HEADER start */
    /* HEADER end */

    /* HERO start */
    /* HERO end */

    /* ABOUT ME start */
    /* ABOUT ME end */

    /* SERVICES start */
    /* SERVICES end */

    /* WORKING HOURS start */
    /* WORKING HOURS end */

    /* EDUCATION start */
    /* EDUCATION end */

    /* HIRE ME start */
    .backgroundHM {
        background-image: url(/HireME.png);
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 40vh;

    }
    .hireme {
        margin: 0;
        padding: 0;
        vertical-align: top;
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }
    
    .hireme > h1 {
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 40px; 
    } 
    /* HIRE ME end */

    /* OUR WORK start */
    /* OUR WORK end */

    /* OUR CLIENT start */
    /* OUR CLIENT end */

    /* TRUSTED BY start */
    /* TRUSTED BY end */

    /* SUBSCRIBE start */
    /* SUBSCRIBE end */

    /* OUR BLOG start */
    /* OUR BLOG end */

    /* GET IN TOUCH start */
    /* GET IN TOUCH end */

    /* FOOTER start */
    /* FOOTER end */
