/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';

/* 3rd-party */

/* components */
@import './components/button.css';

/* CUSTOM STYLE FOR HOME PAGE */

    /* HEADER start */
    /* HEADER end */

    /* HERO start */
    /* HERO end */

    /* ABOUT ME start */
    /* ABOUT ME end */

    /* SERVICES start */
    /* SERVICES end */

    /* WORKING HOURS start */
    /* WORKING HOURS end */

    /* EDUCATION start */
    /* EDUCATION end */

    /* HIRE ME start */
    .backgroundHM {
        background-image: url(/HireME.png);
        width: 100%;
        height: 50vh;

    }
    .h1 {
        
    }
    /* HIRE ME end */

    /* OUR WORK start */
    /* OUR WORK end */

    /* OUR CLIENT start */
    /* OUR CLIENT end */

    /* TRUSTED BY start */
    /* TRUSTED BY end */

    /* SUBSCRIBE start */
    /* SUBSCRIBE end */

    /* OUR BLOG start */
    /* OUR BLOG end */

    /* GET IN TOUCH start */
    /* GET IN TOUCH end */

    /* FOOTER start */
    /* FOOTER end */
