.hireme > button {

    background-color: transparent;
    font-size: 20px;
    text-decoration: solid;
    border-color:white;
    color: white;
    padding: 9px;
    font-style: normal;
    cursor:pointer;
    transition-duration: 0,5;
    border-radius: 7px;
    
}
.hireme > button:hover {
    background-color: white;
    color: black;
}