.work {
    padding-bottom: 30px;
}

.gallery {
    padding-top: 10px;
}

.tags {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.gallery .tag {
    margin: 0 12px;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 4px;
    color: #222;
    background-color: #fff;
    transition: all 0.5s;
}
.gallery .tag:hover, .gallery .tag.active {
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

.gallery .content > .item {
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;

}

.gallery > .content > .item:hover {

}