.TuchLogos {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-size: 17px ;
}
.TuchLogos > p {
    color: #6C757D;
    font-size: 17px;
    line-height: 1.5
}

.CForm {
   width: 100%;
    
}

.form {
    display: inline-block;
    width: 100%;

}

.form-row > label {
    font-size: 24px;
    width: 5%;
    
}

.form-row > input {
    display: inline-block;
    width: 40%;
    line-height: 40px;
    font-size: 20px;
    border: 3px solid #ccc;
    gap: 6%;
    
    
}
.form-row:nth-child(1) {
    
}

.form-row:nth-child(2) {
    
   
}
.form-row:nth-child(3) > input {
    width: 100%;
}



.form-row > textarea {
    color: red;
    width: 100%;
    border: 3px solid #ccc;
    font-size: 20px;
    text-align: left;
    padding: 0.4em 0.4em 0.4em 0;
}





